<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyLaoDong.Properties.Settings.QuanLiLaoDongConnectionString"
            connectionString="Data Source=DESKTOP-PTT6BR4\SQLEXPRESS;Initial Catalog=QuanLiLaoDong;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>